flows/Clear_Data_Choice_Screen_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>666</locationX>
        <locationY>6254</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>ErrorScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Unexpected error has occured!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Error_Message1</name>
        <label>Error Message</label>
        <locationX>666</locationX>
        <locationY>5594</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Unexpected error has occured!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Error_Message2</name>
        <label>Error Message</label>
        <locationX>314</locationX>
        <locationY>4838</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Unexpected error has occured!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Error_Message3</name>
        <label>Error Message</label>
        <locationX>314</locationX>
        <locationY>4178</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Unexpected error has occured!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Error_Message4</name>
        <label>Error Message</label>
        <locationX>314</locationX>
        <locationY>3518</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Unexpected error has occured!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Error_Message5</name>
        <label>Error Message</label>
        <locationX>314</locationX>
        <locationY>2858</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Unexpected error has occured!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Error_Message6</name>
        <label>Error Message</label>
        <locationX>314</locationX>
        <locationY>2198</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Unexpected error has occured!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Error_Message7</name>
        <label>Error Message</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Unexpected error has occured!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Error_Message8</name>
        <label>Error Message</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Unexpected error has occured!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Error_Message9</name>
        <label>Error Message</label>
        <locationX>1018</locationX>
        <locationY>878</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Unexpected error has occured!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Toast_Message</name>
        <label>Toast Message</label>
        <locationX>666</locationX>
        <locationY>6734</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Data clean up has been successfully completed!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>ClearAllData</name>
        <choiceText>Clear All Data</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ClearInstances</name>
        <choiceText>Clear Instances</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Clear_Decision</name>
        <label>Clear Decision</label>
        <locationX>666</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>InstancesWarning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClearAllData</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AllDataWarning</targetReference>
            </connector>
            <label>All Data</label>
        </rules>
    </decisions>
    <decisions>
        <name>Credentials_Check</name>
        <label>Credentials Check</label>
        <locationX>314</locationX>
        <locationY>3278</locationY>
        <defaultConnector>
            <targetReference>Get_Promotions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Credentials</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Credentials</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Credentials</targetReference>
            </connector>
            <label>Has Credentials</label>
        </rules>
    </decisions>
    <decisions>
        <name>Environments_Check</name>
        <label>Environments Check</label>
        <locationX>314</locationX>
        <locationY>4598</locationY>
        <defaultConnector>
            <targetReference>Get_User_Stories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Environment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Environments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Environments</targetReference>
            </connector>
            <label>Has Environment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Git_Commit_Check</name>
        <label>Git Commit Check</label>
        <locationX>666</locationX>
        <locationY>6014</locationY>
        <defaultConnector>
            <targetReference>Toast_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Git_Commits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Git_Commits</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Git_Commits</targetReference>
            </connector>
            <label>Has Git Commits</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pipelines_Check</name>
        <label>Pipelines Check</label>
        <locationX>314</locationX>
        <locationY>2618</locationY>
        <defaultConnector>
            <targetReference>Get_Credentials</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Pipelines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pipelines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Pipelines</targetReference>
            </connector>
            <label>Has Pipelines</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Check</name>
        <label>Project Check</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Get_Releases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Projects</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Projects</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Projects</targetReference>
            </connector>
            <label>Has Projects</label>
        </rules>
    </decisions>
    <decisions>
        <name>Promotion_Check</name>
        <label>Promotion Check</label>
        <locationX>314</locationX>
        <locationY>3938</locationY>
        <defaultConnector>
            <targetReference>Get_Environments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Promotions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Promotions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Promotions1</targetReference>
            </connector>
            <label>Has Promotions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Promotion_Null_Check</name>
        <label>Promotion Null Check</label>
        <locationX>1018</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Get_User_Stories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Promotion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPromitions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Promotions_Instances</targetReference>
            </connector>
            <label>Has Promotion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Release_Check</name>
        <label>Release Check</label>
        <locationX>314</locationX>
        <locationY>1958</locationY>
        <defaultConnector>
            <targetReference>Get_Pipelines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Release</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Releases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Releases</targetReference>
            </connector>
            <label>Has Release</label>
        </rules>
    </decisions>
    <decisions>
        <name>Repository_Check</name>
        <label>Repository Check</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Get_Projects</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Repository</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Repositories</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Git_Repositories</targetReference>
            </connector>
            <label>Has Repository</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Story_Check</name>
        <label>User Story Check</label>
        <locationX>666</locationX>
        <locationY>5354</locationY>
        <defaultConnector>
            <targetReference>Get_Git_Commits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_User_Stories</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Stories</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_User_Stories</targetReference>
            </connector>
            <label>Has User Stories</label>
        </rules>
    </decisions>
    <description>Warning messages</description>
    <environments>Default</environments>
    <formulas>
        <name>Last90Days</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!$Flow.CurrentDate} - 90)</expression>
    </formulas>
    <interviewLabel>Clear Data Choice Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clear Data Choice Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Credentials</name>
        <label>Delete Credentials</label>
        <locationX>50</locationX>
        <locationY>3398</locationY>
        <connector>
            <targetReference>Get_Promotions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message4</targetReference>
        </faultConnector>
        <inputReference>Get_Credentials</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Environments</name>
        <label>Delete Environments</label>
        <locationX>50</locationX>
        <locationY>4718</locationY>
        <connector>
            <targetReference>Get_User_Stories</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message2</targetReference>
        </faultConnector>
        <inputReference>Get_Environments</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Git_Commits</name>
        <label>Delete Git Commits</label>
        <locationX>402</locationX>
        <locationY>6134</locationY>
        <connector>
            <targetReference>Toast_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>Get_Git_Commits</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Git_Repositories</name>
        <label>Delete Git Repositories</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Get_Projects</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message8</targetReference>
        </faultConnector>
        <inputReference>Get_Repositories</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Pipelines</name>
        <label>Delete Pipelines</label>
        <locationX>50</locationX>
        <locationY>2738</locationY>
        <connector>
            <targetReference>Get_Credentials</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message5</targetReference>
        </faultConnector>
        <inputReference>Get_Pipelines</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Projects</name>
        <label>Delete Projects</label>
        <locationX>50</locationX>
        <locationY>1418</locationY>
        <connector>
            <targetReference>Get_Releases</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message7</targetReference>
        </faultConnector>
        <inputReference>Get_Projects</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Promotions1</name>
        <label>Delete Promotions</label>
        <locationX>50</locationX>
        <locationY>4058</locationY>
        <connector>
            <targetReference>Get_Environments</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message3</targetReference>
        </faultConnector>
        <inputReference>Get_Promotions</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Promotions_Instances</name>
        <label>Delete Promotions</label>
        <locationX>754</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Get_User_Stories</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message9</targetReference>
        </faultConnector>
        <inputReference>GetPromitions</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Releases</name>
        <label>Delete Releases</label>
        <locationX>50</locationX>
        <locationY>2078</locationY>
        <connector>
            <targetReference>Get_Pipelines</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message6</targetReference>
        </faultConnector>
        <inputReference>Get_Releases</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_User_Stories</name>
        <label>Delete User Stories</label>
        <locationX>402</locationX>
        <locationY>5474</locationY>
        <connector>
            <targetReference>Get_Git_Commits</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message1</targetReference>
        </faultConnector>
        <inputReference>Get_User_Stories</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Credentials</name>
        <label>Get Credentials</label>
        <locationX>314</locationX>
        <locationY>3158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Credentials_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Last90Days</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Org_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Production/Developer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Org__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Environments</name>
        <label>Get Environments</label>
        <locationX>314</locationX>
        <locationY>4478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Environments_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Last90Days</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Production/Developer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Environment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Git_Commits</name>
        <label>Get Git Commits</label>
        <locationX>666</locationX>
        <locationY>5894</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Git_Commit_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Last90Days</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Git_Commit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pipelines</name>
        <label>Get Pipelines</label>
        <locationX>314</locationX>
        <locationY>2498</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pipelines_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Last90Days</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Deployment_Flow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Projects</name>
        <label>Get Projects</label>
        <locationX>314</locationX>
        <locationY>1178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Last90Days</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Promotions</name>
        <label>Get Promotions</label>
        <locationX>314</locationX>
        <locationY>3818</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Promotion_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Last90Days</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Promotion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Releases</name>
        <label>Get Releases</label>
        <locationX>314</locationX>
        <locationY>1838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Release_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Last90Days</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Release__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Repositories</name>
        <label>Get Repositories</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Repository_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Last90Days</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Git_Repository__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Stories</name>
        <label>Get User Stories</label>
        <locationX>666</locationX>
        <locationY>5234</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Story_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Last90Days</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPromitions</name>
        <label>GetPromitions</label>
        <locationX>1018</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Promotion_Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Last90Days</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Promotion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>AllDataWarning</name>
        <label>AllDataWarning</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Repositories</targetReference>
        </connector>
        <fields>
            <name>AllWarning</name>
            <fieldText>&lt;p&gt;You have selected to delete all data.&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;With this selection, Copado will be deleting Git Repositories, Projects, Releases, Pipelines, &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Non-Prod &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Environment, &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Non-Prod&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; Credentials along with the instances(User Stories, Promotions, and Git Commits data) &lt;/span&gt;&lt;strong&gt;trial data, created within the last 90 days&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;Click on the finish button if you want to proceed! If you want to change your selection, please click the Previous button.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Clear_Choice_Screen</name>
        <label>Clear Choice Screen</label>
        <locationX>666</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Clear_Decision</targetReference>
        </connector>
        <fields>
            <name>Clear_Data</name>
            <choiceReferences>ClearAllData</choiceReferences>
            <choiceReferences>ClearInstances</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Clear Data</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;Clear All Data will delete all Copado data including Pipelines, Environments, Credentials, and Git Repositories including the instances whereas Clear Instances will only delete records like User Stories, Commits, and Promotions.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>666</locationX>
        <locationY>6374</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;Error!
Please Contact your Administrator

Details:
{!$Flow.FaultMessage}
&lt;/pre&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InstancesWarning</name>
        <label>InstancesWarning</label>
        <locationX>1018</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetPromitions</targetReference>
        </connector>
        <fields>
            <name>InstancesWarningMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You have selected to delete Instance data. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;With this selection, Copado will be deleting User Stories, Promotions, and Git Commits &lt;/span&gt;&lt;strong&gt;trial data, created within the last 90 days&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;. Click on the finish button if you want to proceed! If you want to change your selection, please click the Previous button.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Clear_Choice_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
