flows/CML_Retrospective_Data_Fill.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Generates a CSV of User Story updates to be used as backup of changes made by this flow</description>
        <name>CML_Generate_CSV</name>
        <label>CML Generate CSV</label>
        <locationX>182</locationX>
        <locationY>2558</locationY>
        <actionName>cmlConvertRecordsToCSVQueueable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Result_Screen_0</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordCollection</typeName>
            <typeValue>copado__User_Story__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>documentTitle</name>
            <value>
                <stringValue>CML-US-Updates</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordCollection</name>
            <value>
                <elementReference>UserStoriesForUpdate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>cmlConvertRecordsToCSVQueueable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AddToCollection</name>
        <label>AddToCollection</label>
        <locationX>1260</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>UserStoriesForUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>USforUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopUserStories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Date_Times_for_Next_Loop_0</name>
        <label>Clear Date Times for Next Loop</label>
        <locationX>1392</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>FirstPromoDateTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FirstPromotedToProdDateTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Promoted_USs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountUSToUpdate</name>
        <label>CountUSToUpdate</label>
        <locationX>380</locationX>
        <locationY>2318</locationY>
        <assignmentItems>
            <assignToReference>SizeUSToUpdate</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UserStoriesForUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UserStoryUpdatesExist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateUSforUpdate</name>
        <label>CreateUSforUpdate</label>
        <locationX>1260</locationX>
        <locationY>1886</locationY>
        <assignmentItems>
            <assignToReference>USforUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopUserStories.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>USforUpdate.cml_First_Ready_to_Promote_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstPromoDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>USforUpdate.cml_First_Time_Promoted_Prod_or_RB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstPromotedToProdDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_First_Promo_Date</name>
        <label>Set First Promo Date</label>
        <locationX>1920</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>FirstPromoDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Promoted_USs.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Promoted_USs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_First_Promo_Date_0</name>
        <label>Set First Promo Date</label>
        <locationX>1480</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>FirstPromoDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Promoted_USs.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_US_First_Promo_to_Prod_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_US_First_Promo_to_Prod_Date</name>
        <label>Set US First Promo to Prod Date</label>
        <locationX>1612</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>FirstPromotedToProdDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Promoted_USs.copado__Promotion__r.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Promoted_USs</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Promoted_User_Story_Collection</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Promoted User Story Collection</label>
        <locationX>1392</locationX>
        <locationY>638</locationY>
        <assignNextValueToReference>currentItem_Filter_Promoted_User_Story_Collection</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Promoted_User_Stories</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Promoted_User_Story_Collection.copado__User_Story__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>LoopUserStories.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Clear_Date_Times_for_Next_Loop_0</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>AcceptedUpdates</name>
        <label>AcceptedUpdates</label>
        <locationX>182</locationX>
        <locationY>2798</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Result_Screen_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AcceptAndProceed.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Stories_0</targetReference>
            </connector>
            <label>Yes - Accepted</label>
        </rules>
    </decisions>
    <decisions>
        <description>Ensures only User Stories that have Date Times to update are added to the collection</description>
        <name>Has_Data_Time_Values</name>
        <label>Has Data Time Values</label>
        <locationX>1392</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>LoopUserStories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Date Time to Update</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Date_Time</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FirstPromoDateTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FirstPromotedToProdDateTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateUSforUpdate</targetReference>
            </connector>
            <label>Yes Has Date Time</label>
        </rules>
    </decisions>
    <decisions>
        <description>Helps when a User Story has made its way to Production through a single Promotion (i.e. direct from Hotfix environment)</description>
        <name>Is_First_Promo_Time_Set_Yet</name>
        <label>Is First Promo Time Set Yet</label>
        <locationX>1612</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Set_US_First_Promo_to_Prod_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_First_Promo_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirstPromoDateTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_First_Promo_Date_0</targetReference>
            </connector>
            <label>No - First Promo is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Success_Promotion</name>
        <label>Is Success Promotion</label>
        <locationX>1898</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Loop_Promoted_USs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Success_Prod_Promotion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Promoted_USs.copado__Promotion__r.copado__Destination_Environment__r.cml_Is_Production_Org__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Promoted_USs.copado__Promotion__r.copado__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FirstPromotedToProdDateTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_First_Promo_Time_Set_Yet</targetReference>
            </connector>
            <label>Yes Success Prod Promotion</label>
        </rules>
        <rules>
            <name>Yes_Success_Non_Prod_Promotion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Promoted_USs.copado__Promotion__r.copado__Destination_Environment__r.cml_Is_Production_Org__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Promoted_USs.copado__Promotion__r.copado__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FirstPromoDateTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_First_Promo_Date</targetReference>
            </connector>
            <label>Yes Success Non-Prod Promotion</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserStoryUpdatesExist</name>
        <label>UserStoryUpdatesExist</label>
        <locationX>380</locationX>
        <locationY>2438</locationY>
        <defaultConnector>
            <targetReference>NothingToUpdateScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SizeUSToUpdate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CML_Generate_CSV</targetReference>
            </connector>
            <label>Yes - Exist</label>
        </rules>
    </decisions>
    <description>Flow to enable existing User Stories to be updated with relevant timestamps for Lead Time. Allowing initial benchmarking of this metric for existing Copado customers.</description>
    <interviewLabel>CML Retrospective Data Fill {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CML Retrospective Data Fill</label>
    <loops>
        <name>Loop_Promoted_USs</name>
        <label>Loop Promoted USs</label>
        <locationX>1392</locationX>
        <locationY>878</locationY>
        <collectionReference>Filter_Promoted_User_Story_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Success_Promotion</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Data_Time_Values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopUserStories</name>
        <label>LoopUserStories</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_US</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Promoted_User_Story_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CountUSToUpdate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Promoted_User_Stories</name>
        <label>Get All Promoted User Stories</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopUserStories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Promoted</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Promoted_User_Story__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_US</name>
        <label>Get US</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Promoted_User_Stories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>From_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>cml_First_Ready_to_Promote_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>cml_First_Time_Promoted_Prod_or_RB__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__User_Story__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_Stories_0</name>
        <label>Update User Stories</label>
        <locationX>50</locationX>
        <locationY>2918</locationY>
        <inputReference>UserStoriesForUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>NothingToUpdateScreen</name>
        <label>NothingToUpdateScreen</label>
        <locationX>578</locationX>
        <locationY>2558</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Try Again</backButtonLabel>
        <fields>
            <name>NothingToUpdateMessage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Nothing to do here!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;All Users Stories created on or after &lt;strong&gt;{!From_Date} &lt;/strong&gt;already have the best values for DORA timestamps.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Try again with an earlier date if you want to find more User Stories to update.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result_Screen_0</name>
        <label>Result Screen</label>
        <locationX>182</locationX>
        <locationY>2678</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AcceptedUpdates</targetReference>
        </connector>
        <fields>
            <name>ResultText_0</name>
            <fieldText>&lt;p&gt;A total of &lt;strong&gt;{!SizeUSToUpdate} User Stories &lt;/strong&gt;are ready to be updated with timestamps for DORA metric reporting.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationWarningText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;IMPORTANT:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Slide to Accept and click Next to apply the updates.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;This action is not reversible&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;However, you can reference this &lt;a href=&quot;/{!CML_Generate_CSV.contentDocumentId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;CSV file&lt;/a&gt; of all records which will be updated and use it as the basis of a reversing data load.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AcceptAndProceed</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>I Accept</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Do Not Accept</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Slide to Accept</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>US_Select</name>
        <label>US Select</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_US</targetReference>
        </connector>
        <fields>
            <name>DefineDateText</name>
            <fieldText>&lt;p&gt;This screen-flow helps to retrospectively populate two DateTime fields on User Story records that drive the&lt;strong&gt; DORA Lead Time &lt;/strong&gt;metrics.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;It does this by querying related Promotion records to find relevant (and approximate) timestamps that can be applied to these fields.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Please select Date below. &lt;/strong&gt;All User Stories created on or after that date will be updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>From_Date</name>
            <dataType>Date</dataType>
            <fieldText>Update User Stories Created on or After</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Calculate DORA Timestamps</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>US_Select</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AssociatedPromotedUSs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__Promoted_User_Story__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Promoted_User_Story_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__Promoted_User_Story__c</objectType>
    </variables>
    <variables>
        <name>FirstPromoDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstPromotedToProdDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SizeUSToUpdate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UserStoriesForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
    <variables>
        <name>USforUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
</Flow>
