flows/Ignore_Metadata_Action.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Is_Action_Already_Ignored</name>
        <label>Is Action Already Ignored</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Ignore_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Ignored</defaultConnectorLabel>
        <rules>
            <name>Is_Already_Ignored</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetExistingAction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Ingored</targetReference>
            </connector>
            <label>Is Already Ignored</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Action_is_Not_Null</name>
        <label>Verify Action is Not Null</label>
        <locationX>248</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>GetExistingAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Action</defaultConnectorLabel>
        <rules>
            <name>Action_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Metadata_Change_Record.Action__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Action_is_missing</targetReference>
            </connector>
            <label>Action is Null</label>
        </rules>
    </decisions>
    <interviewLabel>Ignore Metadata Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ignore Metadata Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Ignore_Action</name>
        <label>Ignore Action</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Ignored_Successfully</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>Metadata_Change_Record.Action__c</elementReference>
            </value>
        </inputAssignments>
        <object>Monitoring_Ignored_Action_Types__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetExistingAction</name>
        <label>GetExistingAction</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Action_Already_Ignored</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Metadata_Change_Record.Action__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Monitoring_Ignored_Action_Types__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Metadata_Change_Record</name>
        <label>Metadata Change Record</label>
        <locationX>248</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Action_is_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Monitoring_Metadata_Change_Alert__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Action_is_missing</name>
        <label>Action is missing</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ActionIsMissing</name>
            <fieldText>&lt;p&gt;The Metadata Change Alert did not have an Action associated to it.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Already_Ingored</name>
        <label>Already Ingored</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AlreadyIgnoredText</name>
            <fieldText>&lt;p&gt;The action {!Metadata_Change_Record.Action__c} has already been ignored.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Ignored_Successfully</name>
        <label>Ignored Successfully</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Screen</name>
            <fieldText>&lt;p&gt;The Action type {!Metadata_Change_Record.Action__c} has been successfully ignored and will not show up in the future.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Metadata_Change_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
