flows/Run_Manual_Monitoring_Scan.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_Manual_Monitoring_Scan</name>
        <label>Run Manual Monitoring Scan</label>
        <locationX>1003</locationX>
        <locationY>851</locationY>
        <actionName>MonitoredEnvironmentInitiator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Manual_Scan_Started</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Could_not_start_manual_scan</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MonitoredEnvironmentInitiator</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Check_for_Default_Credential</name>
        <label>Check for Default Credential</label>
        <locationX>1221</locationX>
        <locationY>428</locationY>
        <defaultConnector>
            <targetReference>Run_Manual_Monitoring_Scan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has a Default Credential</defaultConnectorLabel>
        <rules>
            <name>Does_not_have_a_Default_Credential</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Default_Credential</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Environment_Doesn_t_Have_a_Default_Credential</targetReference>
            </connector>
            <label>Does not have a Default Credential</label>
        </rules>
    </decisions>
    <interviewLabel>Run Manual Monitoring Scan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Run Manual Monitoring Scan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Default_Credential</name>
        <label>Get Default Credential</label>
        <locationX>1021</locationX>
        <locationY>425</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Default_Credential</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Could_not_start_manual_scan</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Monitored_Environment_Record.Environment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Default_Credential__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Org__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Monitored_Environment_Record</name>
        <label>Get Monitored Environment Record</label>
        <locationX>1013</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Default_Credential</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Could_not_start_manual_scan</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Monitored_Environments__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Could_not_start_manual_scan</name>
        <label>Could not start manual scan</label>
        <locationX>775</locationX>
        <locationY>498</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ExceptionDetails</name>
            <fieldText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot; style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage}
&lt;/pre&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Environment_Doesn_t_Have_a_Default_Credential</name>
        <label>Environment Doesn&apos;t Have a Default Credential</label>
        <locationX>1473</locationX>
        <locationY>428</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoDefaultCredentialText</name>
            <fieldText>&lt;p&gt;Monitoring for Metadata Changes and Integration User impersonations requires a Default Credential for the org. You can assign an Org Credential as your integration user by setting the &quot;Default Credential&quot; setting to True. &lt;a href=&quot;https://docs.copado.com/article/nx2h0cqwve-default-credential&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;View Documentation&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If your team is using personal credentials, the Monitoring Center will not be able to &lt;span style=&quot;font-size: 13px;&quot;&gt;differentiate between a Copado deployed change and a direct change on the SFDC org.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Manual_Scan_Started</name>
        <label>Manual Scan Started</label>
        <locationX>1003</locationX>
        <locationY>1054</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Manual_Scan_Started_Successfully</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;The manual scan of {!Get_Monitored_Environment_Record.Environment__r.Name} was started successfully. Scans take less than a minute on average.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>890</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Monitored_Environment_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
