flows/Welcome_Deployment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>Dollar</name>
        <choiceText>Dollar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dollar</stringValue>
        </value>
    </choices>
    <choices>
        <name>Euro</name>
        <choiceText>Euro</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Euro</stringValue>
        </value>
    </choices>
    <choices>
        <name>INR</name>
        <choiceText>INR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>INR</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>314</locationX>
        <locationY>245</locationY>
        <defaultConnector>
            <targetReference>EUREND</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>USD</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Currency</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Dollar</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_Screen</targetReference>
            </connector>
            <label>USD</label>
        </rules>
        <rules>
            <name>indianrupee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Currency</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>INR</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>INR_END</targetReference>
            </connector>
            <label>INR</label>
        </rules>
        <rules>
            <name>Eur</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Currency</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Euro</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EUREND</targetReference>
            </connector>
            <label>Eur</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Welcome_Deployment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Welcome_Deployment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Action</name>
        <label>Action</label>
        <locationX>27</locationX>
        <locationY>272</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <fields>
            <name>Currency</name>
            <choiceReferences>Dollar</choiceReferences>
            <choiceReferences>INR</choiceReferences>
            <choiceReferences>Euro</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Currency</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End_Screen</name>
        <label>End Screen</label>
        <locationX>552</locationX>
        <locationY>164</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>END</name>
            <fieldText>&lt;p&gt;USD (83.58)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EUREND</name>
        <label>EUREND</label>
        <locationX>565</locationX>
        <locationY>423</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ENDEUR</name>
            <fieldText>&lt;p&gt;EUR(0.011)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>INR_END</name>
        <label>INR END</label>
        <locationX>555</locationX>
        <locationY>280</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ENDINR</name>
            <fieldText>&lt;p&gt;INR(0.012)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>54</locationX>
        <locationY>124</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Action</targetReference>
        </connector>
        <fields>
            <name>Welcome</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://copadotrial74132571--dev2.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068WG0000014DuA?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;download.jpeg&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
</Flow>
